* {
    margin: 0;
    padding: 0;
    border: none;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

header {
    background-color: #b4b4b4;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}



#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}