@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: satisfy, arial;
}

/** Header **/
img {
    max-width: 5%;
    max-height: 5%;
}

#logo {
    float: left;
    margin-left: 30px;
}

#menu {
    font-family: satisfy, arial;
    font-size: 130%;
    letter-spacing: 4px; 
    width: 100%;
    height: 70px;
    padding-top: 10px;
    overflow: hidden;
    background-color: rgba(163, 178, 185, .7);
}

#menu, #logo {
    line-height: 20px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color: black;
    
}

#menu a:hover {
    border-bottom: 1px solid black;
    font-size: 150%;
    font-weight: 1000;
}

.active {
    border-bottom: 1px solid black;
}
/** footer **/
footer {
    height: 150px;
}

.social-networks {
    text-align: center;   
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/** Abiut me section styling*/

#about-me {
    height: 700px;
    background: url(../images/art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

#about-me-pic {
    background: url(../images/title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    float: left;
    height: 100%;
    width: 30%;
    overflow: hidden;
}

#about-me div {
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    height: 100%;
}

#memo {
    float: right;
    width: 70%;
    padding-top: 10%;
    color: azure;
    height: 500px;
}

#memo h1 {
    padding-left: 30%;
    padding-bottom: 2%;
}




